# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc


# Django
*.sqlite3
db.sqlite3

# Static files (collected with collectstatic)
staticfiles/


# Environment variables
*.env

# Virtual environment
venv/
env/

# Logs
*.log

# IDE / Editor settings
.idea/
.vscode/

# Migrations 

 */migrations/*.py
 !*/migrations/__init__.py
